.table .cellWrapper {
  display: flex;
  align-items: center;
}

.table .cellWrapper .image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.table .status {
  place-content: center;
  padding: 5px;
  border-radius: 5px;
}

.table .status.paid {
  color: rgb(230, 2, 127);
  background-color: rgba(243, 120, 248, 0.151);
}
.table .status.deliveried {
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}
.table .status.delivering {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}

.table .status.cancel {
  color: rgb(246, 42, 42);
  background-color: rgba(238, 133, 133, 0.103);
}

.table .status.waiting {
  color: rgb(33, 174, 240);
  background-color: rgba(33, 174, 240, 0.103);
}
