
.userListUser {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.userListImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}




