@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

button, input {
  border: none;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Poppins, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f6f9fc;
  scroll-behavior: smooth;
}
.background {
  background: #f6f9fc;
  padding: 50px 0;
}
.container {
  max-width: 90%;
  margin: auto;
}

.b_flex {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

.d_flex {
  display: flex !important;
  justify-content: center;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align-last: right;
}
input,
button {
  border: none;
  outline: none;
  background-color: none;
}
.row {
  width: 50%;
}
.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}
.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

/*---------category----------*/
.contentWidth {
  width: 77%;
}
.category {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  width: 23%;
  height: 510px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
}
.category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}
.category span {
  margin: 10px 20px;
  text-transform: capitalize;
}
.category .box {
  transition: 0.5s;
  padding: 0 20px;
}
.category .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}

.product-content .box {
  min-height: 360px;
}

.product-content .box .product {
  height: 100%;
}

/*---------category----------*/
.btn-primary {
  background: #e94560;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}
.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 40px;
}
.heading i {
  color: #e94560;
  margin: 10px;
}
.discount {
  position: absolute;
  top: 0;
  left: 0;
  background: #e94560;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}
/*---------product-----------*/
.product {
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
}
.product h3 {
  font-weight: 400;
  font-size: 17px;
}
.product .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.product .price {
  display: flex;
  justify-content: space-between;
  color: #e94560;
}

.price {
  text-align: center;
  color: #e94560;
}

.price button {
  background: none;
  color: #e94560;
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.price button:hover {
  cursor: pointer;
  background-color: #e94560;
  color: #fff;
}
.product-like {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s;
}
.product-like label {
  background-color: #0f3460;
  padding: 1px 10px;
  font-size: 12px;
  color: white;
  border-radius: 50px;
}
.product-like i {
  font-size: 20px;
  margin: 10px 3px;
}
.product:hover .product-like {
  opacity: 1;
}
/*---------product-----------*/
/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  background: #0f3460;
  border-radius: 50%;
  transform: 0.5s;
  z-index: 5;
}
.control-btn .prev {
  left: -20px;
}
.control-btn .next {
  right: -20px;
}
.control-btn .prev i,
.control-btn .next i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .prev:hover,
.control-btn .next:hover {
  background: #e94560;
  color: white;
  cursor: pointer;
}
/*----- control btn -------*/
/*----- heading -------*/
.heading .heading-left i {
  font-size: 30px;
}
.nav-links-MobileMenu{
  display: flex;
}
.heading .heading-left h2 {
  font-size: 25px;
  margin: 5px;
}
.heading .heading-right i,
.heading .heading-right {
  text-align: right;
  color: grey;
}
/*----- heading -------*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
  grid-gap: 10px;
}
.message {
  font-size: 12px;
  color: red;
}

.button-a {
  padding: 10px 20px;
  border-radius: 6px;
  width: max-content;
  background: #e94560;
  color: #fff;
}

.button-a:hover {
  opacity: 0.8;
}

.btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.toggle.mobile{
  display: none;
}

.highlight {
  color: #e94560;
  font-size: 12px;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.price>h4 {
  display: flex!important;
  flex-wrap: wrap;
}

.product {
  min-height: 332px;
}

.sc-iAvgwm.cWBArs {
  display: none;
}

/* mobile */
@media screen and (max-width: 35rem) {
  .homeSlide p {

  }
  .price h4 {

  }
  .rate{
    display: none;
  }
  .box.mobile{
    min-height: 129px;
  }
  .box.f_flex>span{
    display: none;
  }
  .box.f_flex{
    justify-content: center;
  }
  .navlink.mobile {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 290px;
  background-color: white;
  z-index: 1000;
  display: none;
  }
  .nav-links-MobileMenu{
    flex-direction: column;
  }
  .toggle.mobile{
    display: block;
    position: absolute;
    top: -28px;

  }
  .toggle.mobile.menu{
    position: absolute;
    top: -23px;
    right: 0;
  }
  .navlink.mobile.active {
    display: block;

  }
  .row{
    width: max-content;
  }
  body {
    background-color: rgb(235, 243, 246);
  }
  .homeSlide ul{
    display: none;
  }
  .slick-slide img{
    display: none;
  }
  .chead h1{
    text-align: center;
  }
  .container slick-dots {
    display: none;
  }
  .product-details{
    font-size: 10px;
  }
  .product-details h3{
    font-size: 10px;
  }
  .NewArrivals span {
    font-size: 10px;
  }
  .box.product {
    font-size: 10px;
  }
  .box.product span{
    display: block;
    font-size: 10px;
  }
  .deals, h4>span, h4{
    font-size: 16px;
  }
  .right{
    display: none;
  }
  .slick-dots{
    display: none;
  }
  .sc-ikZpkk.hstVJO{
    flex-direction: column;
    margin: 0 6px;
  }
  .sc-ciZhAO.jJGLSu {
    padding: 10px 0;
  }
  .post__container{
    width: inherit;
  }
  .sc-gicCDI.jrixat{
    width: 100%;
  }
  .hpoDnh{
    display: none!important;
  }
  .sc-llJcti.hObIUV{
    font-size: 30px;
  }
  .sc-iIPllB.dcdsNT{
    font-size: 16px;
  }
  .sc-cOFTSb.jiFksL{
    flex-wrap: wrap;
    column-gap: 10px;
  }
  .icon.f_flex.width {
    position: absolute;
    right: 7px;
  }
  .search-box.f_flex {
    position: absolute;
    right: 115px;
  }
  .icon-circle {
    margin: 0 4px 0 0;
    width: 40px;
    height: 40px;
  }
  .search .f_flex{
    height: 44px;
  }
  .search-box span, .catgrories {
    display: none!important;
  }
  .search-box input {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  .search .width img{
    width: 56px!important;
  }
  .header {
    height: 0;
  }
  .product-details>h3{
    font-size: 20px;
  }
  .makeStyles-pagination-1, .makeStyles-pagination-3 {
    width: 100%!important;
  }
  .annocument {
    padding: 0;
  }
  .container.d_flex {
    flex-direction: column;
  }
  .chead h1, .shop .category button {
    display: none;
  }
  .shop .category {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0!important;
  }
  .display1, .eUOOJl {
    display: none;
  }
  .post__container {
    width: 100%!important;
  }
  .euDcJs, .fvBbPK, .cFSQCp, .bWKJqm   {
    flex-direction: column;
    padding: 0!important;
  }
  .bWKJqm {
    background: #fff;
    padding: 6px!important;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  .w-100 {
    width: 100%;
  }
  .w-100>img {
    width: inherit;
  }
  .sc-iBkjds.fvBbPK {
    width: 100%!important;
  }
  .frfAjV {
    margin: 20px!important;
  }
  .jVnvHO {
    flex-direction: column-reverse;
  }
  .kTJfVB {
    margin: 0 auto 10px;
  }
  .iXtMvs {
    align-items: center;
  }

  .iXtMvs>div:first-child>label {
    float: left;
  }
  .htdAjk, .lecrDd, .htdAjk {
    display: block;
    margin: 0 auto 10px!important;
    width: 100%;
    text-align: center;
  }
  .eHNgOK {
    width: 100%!important;
    display: grid;
    overflow: hidden;
    padding: 10px!important;
  }
  .item, .f-col, .sc-hAZoDl.eFvnua{
    flex-direction: column;
    align-items: flex-start!important;
  }

  .gTYjQd:nth-child(2), .hIZHHl {
    display: none;
  }
  .iJoylA {
    width: 200px!important;
  }
  .mvumD {
    padding: 0 0 10px 0!important;
  }
}

/* ipad */
@media screen and (min-width: 35rem) and (max-width: 55rem) {
  .homeSlide p {

  }
  .price h4 {

  }
  .rate{
    display: none;
  }
  .box.mobile{
    min-height: 129px;
  }
  .box.f_flex>span{
    display: none;
  }
  .box.f_flex{
    justify-content: center;
  }
  .navlink.mobile {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 290px;
  background-color: white;
  z-index: 1000;
  display: none;
  }
  .nav-links-MobileMenu{
    flex-direction: column;
  }
  .toggle.mobile{
    display: block;
    position: absolute;
    top: -28px;

  }
  .toggle.mobile.menu{
    position: absolute;
    top: -23px;
    right: 30px;
  }
  .navlink.mobile.active {
    display: block;

  }
  .row{
    width: max-content;
  }
  body {
    background-color: rgb(235, 243, 246);
  }
  .homeSlide ul{
    display: none;
  }
  .slick-slide img{
    display: none;
  }
  .chead h1{
    text-align: center;
  }
  .container slick-dots {
    display: none;
  }
  .product-details{
    font-size: 10px;
  }
  .product-details h3{
    font-size: 10px;
  }
  .NewArrivals span {
    font-size: 10px;
  }
  .box.product {
    font-size: 10px;
  }
  .box.product span{
    display: block;
    font-size: 10px;
  }
  .deals, h4>span, h4{
    font-size: 16px;
  }
  .price>h4 {
    display: flex;
    flex-wrap: wrap;
  }

  .right{
    display: none;
  }
  .slick-dots{
    display: none;
  }
  .sc-ikZpkk.hstVJO{
    flex-direction: column;
    margin: 0 6px;
  }
  .sc-ciZhAO.jJGLSu {
    padding: 10px 0;
  }
  .post__container{
    width: inherit;
  }
  .sc-gicCDI.jrixat{
    width: 100%;
  }
  .hpoDnh{
    padding: 20px;
  }
  .sc-llJcti.hObIUV{
    font-size: 30px;
  }
  .sc-iIPllB.dcdsNT{
    font-size: 16px;
  }
  .sc-cOFTSb.jiFksL{
    flex-wrap: wrap;
    column-gap: 10px;
  }
  .icon.f_flex.width {
    position: absolute;
    right: 7px;
  }
  .search-box.f_flex {
    position: absolute;
    right: 287px;
  }

  .product-details>h3{
    font-size: 20px;
  }
  .makeStyles-pagination-1, .makeStyles-pagination-3 {
    width: 100%!important;
  }
  .annocument {
    padding: 0;
  }
  .container.d_flex {
    flex-direction: column;
  }
  .chead h1, .shop .category button {
    display: none;
  }
  .shop .category {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0!important;
  }
  .display1, .eUOOJl {
    display: none;
  }
  .post__container {
    width: 100%!important;
  }
  .euDcJs, .fvBbPK, .cFSQCp, .bWKJqm   {
    flex-direction: column;
    padding: 0!important;
  }
  .bWKJqm {
    background: #fff;
    padding: 6px!important;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  .w-100 {
    width: 100%;
  }
  .w-100>img {
    width: inherit;
  }
  .sc-iBkjds.fvBbPK {
    width: 100%!important;
  }
  .frfAjV {
    margin: 20px!important;
  }
  .jVnvHO {
    flex-direction: column-reverse;
  }
  .kTJfVB {
    margin: 0 auto 10px;
  }
  .iXtMvs {
    align-items: center;
  }

  .iXtMvs>div:first-child>label {
    float: left;
  }
  .htdAjk, .lecrDd, .htdAjk {
    display: block;
    margin: 0 auto 10px!important;
    width: 100%;
    text-align: center;
  }
  .eHNgOK {
    width: 100%!important;
    display: grid;
    overflow: hidden;
    padding: 10px!important;
  }
  .item, .f-col, .sc-hAZoDl.eFvnua{
    flex-direction: column;
    align-items: flex-start!important;
  }

  .gTYjQd:nth-child(2), .hIZHHl {
    display: none;
  }
  .iJoylA {
    width: 200px!important;
  }
  .mvumD {
    padding: 0 0 10px 0!important;
  }
}